# please do the solution in Python, and design it as if it was part of a production system on AWS

In [1]:
import os
import pandas as pd
import numpy
#import great_expectations as ge

# Read all csv files and extract name into a list.

In [2]:
# Get csv file name in ConsumptionData folder
path = "Data/ConsumptionData/"
file_list = os.listdir(path)
name_list = []
for filename in file_list:
    #print(filename)
    if filename.endswith(".csv"):
        #table_list.append(pd.read_csv(filename,sep="|"))
        name_list.append(os.path.splitext(filename)[0])
print(name_list)
len(name_list)

['NMIA3', 'NMIA2', 'NMIM1', 'NMIA1', 'NMIS3', 'NMIS2', 'NMIK4', 'NMIS1', 'NMIR1', 'NMIG1', 'NMIR2', 'NMIG2']

12

In [3]:
nmi_info = pd.read_csv("Data/nmi_info.csv")
nmi_info.head()

     Nmi State  Interval
0  NMIM1   QLD      30.0
1  NMIS2   NSW      30.0
2  NMIS3   NSW      30.0
3  NMIA2   VIC      15.0
4  NMIA1   VIC      15.0

In [4]:
# Read CSV into Pandas Dataframe
NMIA3 = pd.read_csv(path + "NMIA3" + ".csv")
NMIA2 = pd.read_csv(path + "NMIA2" + ".csv")
NMIM1 = pd.read_csv(path + "NMIM1" + ".csv")
NMIA1 = pd.read_csv(path + "NMIA1" + ".csv")
NMIS3 = pd.read_csv(path + "NMIS3" + ".csv")
NMIS2 = pd.read_csv(path + "NMIS2" + ".csv")
NMIK4 = pd.read_csv(path + "NMIK4" + ".csv")
NMIS1 = pd.read_csv(path + "NMIS1" + ".csv")
NMIR1 = pd.read_csv(path + "NMIR1" + ".csv")
NMIG1 = pd.read_csv(path + "NMIG1" + ".csv")
NMIR2 = pd.read_csv(path + "NMIR2" + ".csv")
NMIG2 = pd.read_csv(path + "NMIG2" + ".csv")
NMIA3["Nmi"] = "NMIA3"
NMIA2["Nmi"] = "NMIA2"
NMIM1["Nmi"] = "NMIM1"
NMIA1["Nmi"] = "NMIA1"
NMIS3["Nmi"] = "NMIS3"
NMIS2["Nmi"] = "NMIS2"
NMIK4["Nmi"] = "NMIK4"
NMIS1["Nmi"] = "NMIS1"
NMIR1["Nmi"] = "NMIR1"
NMIG1["Nmi"] = "NMIG1"
NMIR2["Nmi"] = "NMIR2"
NMIG2["Nmi"] = "NMIG2"
NMIG2.head()

              AESTTime  Quantity Unit    Nmi
0  01/10/2017 00:00:00    117.36  kWh  NMIG2
1  01/10/2017 00:30:00    114.88  kWh  NMIG2
2  01/10/2017 01:00:00    108.15  kWh  NMIG2
3  01/10/2017 01:30:00    107.75  kWh  NMIG2
4  01/10/2017 02:00:00    111.63  kWh  NMIG2

In [5]:
nmi_all = pd.concat([NMIA2,NMIM1,NMIA1,NMIS3,NMIS2,NMIK4,NMIS1,NMIR1,NMIG1,NMIR2,NMIG2,NMIA3])
nmi_all = nmi_all.reset_index(drop=True)

In [11]:
# Check how many unique values in each columns
uniqueValues = nmi_all.nunique() 
print(uniqueValues)

AESTTime    52560
Quantity    38704
Unit            1
Nmi            12
dtype: int64

In [8]:
#nmi_all["Unit"].unique()
nmi_all.loc[nmi_all["Unit"] =="Mwh",'Quantity'] = nmi_all["Quantity"] * 1000
nmi_all.sort_values("Quantity")
nmi_all

                   AESTTime  Quantity Unit    Nmi
0       2017-10-01 00:00:00      4.52  kWh  NMIA2
1       2017-10-01 00:15:00      4.28  kWh  NMIA2
2       2017-10-01 00:30:00      4.37  kWh  NMIA2
3       2017-10-01 00:45:00      4.65  kWh  NMIA2
4       2017-10-01 01:00:00      5.10  kWh  NMIA2
...                     ...       ...  ...    ...
245275  2018-09-30 21:30:00      7.33  kWh  NMIA3
245276  2018-09-30 22:00:00      7.32  kWh  NMIA3
245277  2018-09-30 22:30:00      7.38  kWh  NMIA3
245278  2018-09-30 23:00:00      7.13  kWh  NMIA3
245279  2018-09-30 23:30:00      7.42  kWh  NMIA3

[245280 rows x 4 columns]

In [10]:
nmi_all["Unit"] = "kWh"

In [ ]:
uniqueValues = nmi_all.nunique() 
print(uniqueValues)

In [ ]:
nmi_all_info = pd.merge(nmi_all, nmi_info, how='left', on='Nmi')
# nmi_all_info["Year"]=pd.DatetimeIndex(nmi_all_info["AESTTime"]).year
# nmi_all_info["Year"] = nmi_all_info["Year"].astype(int)
nmi_all_info.head()
#nmi_all_info.dtypes

In [ ]:
# conver string to datetime
nmi_all_info["AESTTime"] = pd.to_datetime(nmi_all_info["AESTTime"])

In [ ]:
# Grab the max and min year in NMI dataframe
import datetime
start_time = nmi_all_info["AESTTime"].min()
startYear = start_time.year
finish_time = nmi_all_info["AESTTime"].max()
finishYear = finish_time.year
print(startYear)
print(finishYear)

In [ ]:
from datetime import datetime, timedelta
# input year and month
yearMonthStart = f'{startYear}-10'
  
# getting date of first Sunday in Oct.
dst_start_time = numpy.busday_offset(yearMonthStart, 0, 
                           roll='forward', 
                           weekmask='Sun')
# input year and month
yearMonthFinish = f'{finishYear}-04'
  
# getting date of first Sunday in Apr.
dst_finish_time = numpy.busday_offset(yearMonthFinish, 0, 
                           roll='forward', 
                           weekmask='Sun')

dst_start_dt = datetime.strptime(f'{dst_start_time}  02:00:00', '%Y-%m-%d %H:%M:%S')
dst_finish_dt = datetime.strptime(f'{dst_finish_time}  03:00:00', '%Y-%m-%d %H:%M:%S')
print(dst_start_dt)
print(dst_finish_dt)

In [ ]:
# create dataframe with NMI in VIC, NSW, and WA which need to change to local time
df_dst = nmi_all_info.loc[(nmi_all_info["State"]=="VIC") | (nmi_all_info["State"]=="NSW")]
df_dst.loc[(df_dst["AESTTime"] >= dst_start_dt)&(df_dst["AESTTime"] < dst_finish_dt),'LocalTime'] = df_dst["AESTTime"] + timedelta(hours=1)
df_wa = nmi_all_info.loc[(nmi_all_info["State"]=="WA")]
df_wa['LocalTime'] = df_wa["AESTTime"] - timedelta(hours=2)
df_qld = nmi_all_info.loc[(nmi_all_info["State"]=="QLD")]
df_qld["LocalTime"] = df_qld["AESTTime"]
#df_wa['LocalTime'] = df_dst["AESTTime"] - timedelta(hours=2)
df_dst.head()

In [ ]:
# Fill no time difference fild with AEST Time.
nmi_local_time = pd.concat([df_dst,df_wa,df_qld])
nmi_local_time.LocalTime.fillna(nmi_local_time.AESTTime, inplace=True)
nmi_local_time

In [ ]:
df_dst.LocalTime.fillna(df_dst.AESTTime, inplace=True)
df_dst

In [ ]:
# if nmi_all_info["State"].isin(["VIC","NSW"]):
    
    nmi_all_info.loc[((nmi_all_info["AESTTime"] >= dst_start_dt)&(nmi_all_info["AESTTime"] < dst_finish_dt))& ((nmi_all_info["State"]=="VIC")|(nmi_all_info["State"]=="NSW")),'LocalTime'] = nmi_all_info["AESTTime"] + timedelta(hours=1)

In [ ]:
# conver string to datetime
# NMIA3["AESTTime"] = pd.to_datetime(NMIA3["AESTTime"])
# NMIA2["AESTTime"] = pd.to_datetime(NMIA2["AESTTime"])
# NMIM1["AESTTime"] = pd.to_datetime(NMIM1["AESTTime"])
# NMIA1["AESTTime"] = pd.to_datetime(NMIA1["AESTTime"])
# NMIS3["AESTTime"] = pd.to_datetime(NMIS3["AESTTime"])
# NMIS2["AESTTime"] = pd.to_datetime(NMIS2["AESTTime"])
# NMIK4["AESTTime"] = pd.to_datetime(NMIK4["AESTTime"])
# NMIS1["AESTTime"] = pd.to_datetime(NMIS1["AESTTime"])
# NMIR1["AESTTime"] = pd.to_datetime(NMIR1["AESTTime"])
# NMIG1["AESTTime"] = pd.to_datetime(NMIG1["AESTTime"])
# NMIR2["AESTTime"] = pd.to_datetime(NMIR2["AESTTime"])
# NMIG2["AESTTime"] = pd.to_datetime(NMIG2["AESTTime"])

In [ ]:
# Get the NMI list which need convert to local time
dst_nmi_vic = nmi_info[nmi_info['State'].isin(["VIC"])]
dst_list_vic = dst_nmi_vic.Nmi
dst_nmi_nsw = nmi_info[nmi_info['State'].isin(["NSW"])]
dst_list_nsw = dst_nmi_nsw.Nmi
print(dst_list_nsw)

In [ ]:
nmi_vic = pd.concat([NMIA2,NMIA1,NMIG2,NMIA3])
nmi_vic['State'] = 'VIC'
nmi_nsw = pd.concat([NMIS2,NMIS3,NMIG1])
nmi_nsw['State'] = 'NSW'
nmi_dst = pd.concat([nmi_vic,nmi_nsw])
nmi_dst

# Convert time to local time

In [ ]:
import pandas as pd
import numpy
from datetime import datetime
df_nmi_s2 = pd.read_csv("Data/ConsumptionData/NMIS2.csv")
df_nmi_s2.head()

In [ ]:
# input year and month
yearMonthStart = '2017-10'
  
# getting date of first Sunday in Oct.
dst_start_time = numpy.busday_offset(yearMonthStart, 0, 
                           roll='forward', 
                           weekmask='Sun')
# input year and month
yearMonthFinish = '2018-04'
  
# getting date of first Sunday in Apr.
dst_finish_time = numpy.busday_offset(yearMonthFinish, 0, 
                           roll='forward', 
                           weekmask='Sun')

dst_start_dt = datetime.strptime(f'{dst_start_time}  02:00:00', '%Y-%m-%d %H:%M:%S')
dst_finish_dt = datetime.strptime(f'{dst_finish_time}  03:00:00', '%Y-%m-%d %H:%M:%S')

In [ ]:
from datetime import datetime, timedelta

df_nmi_s2.loc[(df_nmi_s2["AESTTime"] >= dst_start_dt)&(df_nmi_s2["AESTTime"] < dst_finish_dt),'LocalTime'] = df_nmi_s2["AESTTime"] + timedelta(hours=1)

#f_nmi_s2.loc[df_nmi_s2["AESTTime"] >= dst_start_dt & df_nmi_s2["AESTTime"] < dst_finish_dt,'LocalTime'] = df_nmi_s2["AESTTime"] + timedelta(hours=1)
    #f_nmi_s2["LocalTime"] = df_nmi_s2["AESTTime"] + timedelta(hours=1)
df_nmi_s2

In [ ]:
df_nmi_s2.LocalTime.fillna(df_nmi_s2.AESTTime, inplace=True)
df_nmi_s2

In [ ]:
df_nmi_s2["Month"]=pd.DatetimeIndex(df_nmi_s2["AESTTime"]).month
df_nmi_s2["Weekday"]=pd.DatetimeIndex(df_nmi_s2["AESTTime"]).weekday
df_nmi_s2["Week"]=pd.DatetimeIndex(df_nmi_s2["AESTTime"]).week
df_nmi_s2["Hour"]=pd.DatetimeIndex(df_nmi_s2["AESTTime"]).hour
df_nmi_s2

In [ ]:
If df_nmi_s2["Month"]>=10 and df_nmi_s2["Month"]<=4 and df_nmi_s2["Weekday"]=7 and df_nmi_s2["Hour"]>=2

In [ ]:
df_nmi_s2.dtypes

In [ ]:
# from datetime import datetime, timedelta
# hours = 5
# df_nmi_s2["AESTTime"] = datetime.strptime(df_nmi_s2["AESTTime"], '%b %d %Y %I:%M%p')
future_time = df_nmi_s2["AESTTime"] + timedelta(hours=1)
future_time

# Read all csv files and extract name into a list.

In [ ]:
import os
import pandas as pd
#import glob
path = "Data/ConsumptionData/"
file_list = os.listdir(path)
name_list = []
for filename in file_list:
    #print(filename)
    if filename.endswith(".csv"):
        #table_list.append(pd.read_csv(filename,sep="|"))
        name_list.append(os.path.splitext(filename)[0])
print(name_list)
len(name_list)

In [ ]:
NMIA3 = pd.read_csv(path + "NMIA3" + ".csv")
NMIA2 = pd.read_csv(path + "NMIA2" + ".csv")
NMIM1 = pd.read_csv(path + "NMIM1" + ".csv")
NMIA1 = pd.read_csv(path + "NMIA1" + ".csv")
NMIS3 = pd.read_csv(path + "NMIS3" + ".csv")
NMIS2 = pd.read_csv(path + "NMIS2" + ".csv")
NMIK4 = pd.read_csv(path + "NMIK4" + ".csv")
NMIS1 = pd.read_csv(path + "NMIS1" + ".csv")
NMIR1 = pd.read_csv(path + "NMIR1" + ".csv")
NMIG1 = pd.read_csv(path + "NMIG1" + ".csv")
NMIR2 = pd.read_csv(path + "NMIR2" + ".csv")
NMIG2 = pd.read_csv(path + "NMIG2" + ".csv")
NMIM1.head()

In [ ]:
nmi_info = pd.read_csv("Data/nmi_info.csv")
nmi_info.head()

In [ ]:
# Get the NMI list which need convert to local time
dst_nmi = nmi_info[nmi_info['State'].isin(["VIC", "NSW"])]
dst_nmi.Nmi

In [ ]:
if isinstance(NMIA3, pd.DataFrame):

In [ ]:
# Grab file path with glob
import glob
path = "Data/ConsumptionData/"
all_files = glob.glob(path + "/*.csv")
all_files

In [ ]:
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
li

In [ ]:
df = pd.concat(li, axis=0, ignore_index = True)
df

In [ ]:
df_nmi = pd.read_csv("Data/nmi_info.csv")
df_nmi.head()

In [ ]:
import pandas as pd
#thismodule = sys.modules[__name__]
nmi = ["NMIA1", "NMIA2", "NMIA3", "NMIG1", "NMIG2", "NMIK4", "NMIM1", "NMIR1", "NMIR2", "NMIS1", "NMIS2", "NMIS3"]
for m in nmi:
    #df_x = f'NMI{m}'
    #setattr(thismodule, i,df[df.names==m])
    exec('%s = pd.DataFrame()' %m)
    m= pd.read_csv(f'Data/ConsumptionData/{m}'.csv)
    #f'NMI{m}' = pd.read_csv(f'Data/ConsumptionData/NMI{m}'.csv)